<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musiclan"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <!-- Market filtering -->
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mlicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.musiclan.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.musiclan.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.musiclan.Dashboard"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name="com.example.musiclan.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.musiclan.PlayMusic"
            android:label="@string/title_activity_play_music" >
        </activity>
        <activity
            android:name="com.example.musiclan.WiFiDirect"
            android:label="@string/title_activity_wifidirect" >
        </activity>
        <activity
            android:name="com.example.musiclan.PeerActivity"
            android:label="@string/title_activity_peer" >
        </activity>
        <!-- Used for transferring files  after a successful connection -->
        <service
            android:name="com.example.musiclan.FileTransferService"
            android:enabled="true" />
        <service
            android:name="com.example.musiclan.ChatService"
            android:enabled="true" />

        <activity
            android:name="com.example.musiclan.Search"
            android:label="@string/title_activity_search" >
        </activity>
    </application>

</manifest>
